{% import "_includes/forms" as forms %}

{{ forms.textField({
  label: 'Webmention Endpoint Route (Slug)',
  instructions: 'Set the URL slug / route of your Webmention endpoint here. Defaults to "webmention", but you can insert anything that makes sense to you…',
  id: 'endpointSlug',
  name: 'endpointSlug',
  value: settings.endpointSlug,
  first: true,
}) }}

{{ forms.textField({
  label: 'Webmention Endpoint Layout Template',
  instructions: 'Set the name of the main layout template for the Webmention endpoint. Default is "_layout".',
  id: 'layout',
  name: 'layout',
  value: settings.layout,
}) }}

{{ forms.textField({
  label: 'Maximum Length of Webmention Text',
  instructions: 'Set the maximum character count for summaries, comments and text excerpts from posts.',
  id: 'maxTextLength',
  name: 'maxTextLength',
  value: settings['maxTextLength'],
}) }}

{{ forms.lightswitchField({
  first: true,
  label: 'Parse Brid.gy Webmentions',
  instructions: 'Brid.gy sends Webmentions for comments, retweets and other interactions on Twitter, Facebook, Google+, Instagram, and Flickr.'|t,
  name: 'useBridgy',
  on: settings.useBridgy,
}) }}

{{ forms.textField({
  label: 'Avatar Storage Folder',
  instructions: 'This plugin saves user photos (avatars) for incoming Webmentions to avoid exploits. Set the name of the folder where user avatars will be stored. \<br\>\<strong\>Note: For now, this will create a new subfolder in your default assets folder. So there has to be at least one asset source defined! \;\) \<\/strong\>\<br\> Also, if you change this name, avatars that have been stored before won\'t be moved to the new path.',
  id: 'avatarPath',
  name: 'avatarPath',
  value: settings.avatarPath,
}) }}

<div class="field" id="settings-layout-field">
  <div class="heading">
    <label id="settings-layout-label">Entry Types</label>
    <div class="instructions">
      <p>Select all entry types for which you want to send Webmentions. <strong>Note: When new entry types (and
          sections) are added, they are set to “send Webmentions” by default.</strong></p>
    </div>
  </div>
  {% for option in settings.entryTypes %}
    <div>

      {% set id = ('checkbox'~random()) %}

      <input type="hidden" name="entryTypes[{{ option.handle }}][handle]" value="{{ option.handle }}">
      <input type="hidden" name="entryTypes[{{ option.handle }}][label]" value="{{ option.label }}">
      <input type="hidden" name="entryTypes[{{ option.handle }}][checked]" value="0">

      <input type="checkbox" value="entryTypes[{{ option.handle }}][checked]"
             id="{{ id }}"
             class="checkbox"
             name="entryTypes[{{ option.handle }}][checked]"
          {%- if option.checked is defined and option.checked %} checked{% endif %} >

      <label for="{{ id }}">{{ option.label|raw }}</label>
    </div>
  {% endfor %}
</div>
